# Ignore database files
*.sqlite3

# Ignore environment variables
.env
env/
# Ignore compiled files
*.pyc
__pycache__/

# Ignore Django migrations
migrations/

# Ignore media files
media/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

node_modules/

mapserver/impact_shapefiles/
mapserver/rasters/
mapserver/shapefiles/
mapserver/timeseries_data/
mapcache/cache/
