######## EAFW - STAGING ########
# Ports: 9068 (nginx entry), 5431 (db)

######## DATABASE ########
CMS_DB_USER=geomanager
CMS_DB_NAME=geomanager_web
CMS_DB_PASSWORD=CHANGE_ME
DB_HOST_PORT=5431

######## CONTAINER NAMES ########
DB_CNTR_NAME=eafw-pgdb
PGBOUNCER_CNTR_NAME=eafw-pgbouncer
MEMCACHED_CNTR_NAME=eafw-memcached
WEB_CNTR_NAME=eafw-cms
MAPVIEWER_CNTR_NAME=eafw-mapviewer
MAPSERVER_CNTR_NAME=eafw-mapserver
MAPCACHE_CNTR_NAME=eafw-mapcache
TILESERV_CNTR_NAME=eafw-tileserv
NGINX_CNTR_NAME=eafw-nginx
JOBS_CNTR_NAME=eafw-jobs

######## NETWORK ########
HOST_IP=0.0.0.0
RESTART_POLICY=unless-stopped

######## CMS (Django/Wagtail) ########
CMS_DEBUG=False
CMS_SITE_NAME=East Africa Flood Watch
ADMIN_URL_PATH=cms-admin
TIME_ZONE=Africa/Nairobi
SECRET_KEY=CHANGE_ME
ALLOWED_HOSTS="*"
CSRF_TRUSTED_ORIGINS="https://floodwatch-staging.icpac.net"
CORS_ALLOWED_ORIGINS="https://floodwatch-staging.icpac.net"
CMS_BASE_URL="https://floodwatch-staging.icpac.net"
CMS_DEFAULT_LANGUAGE_CODE="en"
FORCE_SCRIPT_NAME=""
CMS_NUM_OF_WORKERS=4

# Email
SMTP_EMAIL_HOST=
SMTP_EMAIL_PORT=587
SMTP_EMAIL_USE_TLS=True
SMTP_EMAIL_HOST_USER=
SMTP_EMAIL_HOST_PASSWORD=
CMS_ADMINS=
DEFAULT_FROM_EMAIL=

# Recaptcha
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

######## IMAGES (pull from GHCR) ########
WEB_IMAGE_NAME=ghcr.io/icpac-igad/eafw-cms:latest
MAPVIEWER_IMAGE_NAME=ghcr.io/icpac-igad/eafw-mapviewer:latest
MAPSERVER_IMAGE_NAME=ghcr.io/icpac-igad/eafw-mapserver:latest
MAPCACHE_IMAGE_NAME=ghcr.io/icpac-igad/eafw-mapcache:latest
JOBS_IMAGE_NAME=ghcr.io/icpac-igad/eafw-jobs:latest

######## MAPVIEWER ########
MAPVIEWER_CMS_API="/api"
MAPVIEWER_SERVER_URL="http://geomanager_mapviewer:3000"
MAPVIEWER_BASE_PATH="/"
MAPVIEWER_ASSET_PREFIX=""
ANALYTICS_PROPERTY_ID=""
BITLY_TOKEN=""
GOOGLE_CUSTOM_SEARCH_CX=""
GOOGLE_SEARCH_API_KEY=""
ADMIN_BOUNDARY_API="/pg/tileserv/"

######## MAPSERVER ########
MS_SERVICE_URL=https://floodwatch-staging.icpac.net/mapserver/

######## MAPCACHE ########
MC_SERVICE_URL=https://floodwatch-staging.icpac.net/mapcache/

######## FLOODWATCH JOBS ########
FLOODPROOFS_SFTP_HOST=
FLOODPROOFS_SFTP_PORT=22
FLOODPROOFS_SFTP_USER=
FLOODPROOFS_SFTP_PASSWORD=
FLOODPROOFS_REMOTE_DIR=/home/floodproofs/merged_forecasts

# Google Drive Sync
DRIVE_FOLDER_ID=1ghf7s3IQvFp5DhS2X_pZF4v7jYQooh9B
GOOGLE_CREDENTIALS_FILE=./eafw_jobs/credentials
SYNC_SOURCE=drive
SYNC_INTERVAL=21600
SYNC_DAYS=7

# Google Flood Forecasting API
FLOODS_API_KEY=
GOOGLE_FLOOD_REGION_CODES=ET,KE,UG,SD,SS,RW,SO,DJ,ER,TZ,BI
GOOGLE_FLOOD_PAGE_SIZE=20000
GOOGLE_FLOOD_STATUS_CHUNK_SIZE=500
GOOGLE_FLOOD_MODEL_CHUNK_SIZE=200
GOOGLE_FLOOD_FORECAST_CHUNK_SIZE=200
GOOGLE_FLOOD_ISSUED_LOOKBACK_DAYS=7
GOOGLE_FLOOD_INCLUDE_NON_QUALITY_VERIFIED=true
GOOGLE_FLOOD_INCLUDE_GAUGES_WITHOUT_HYDRO_MODEL=true
GOOGLE_FLOOD_REQUEST_TIMEOUT_SECONDS=120
GOOGLE_FLOOD_MAX_RETRIES=4
GOOGLE_FLOOD_BASE_BACKOFF_SECONDS=1.0

# WRF Rainfall FTP
WRF_FTP_HOST=
WRF_FTP_PORT=21
WRF_FTP_USER=
WRF_FTP_PASSWORD=
WRF_REMOTE_DIR=/SharedData/wrf/weekly

# Email notifications for jobs
EMAIL_NOTIFICATIONS_ENABLED=true
EMAIL_TO=hkoros@icpac.net

######## PORTS ########
CMS_HOST_PORT=9068
