# Container Configuration
CONTAINER_NAME_PREFIX=eafw
IMAGE_NAME_PREFIX=icpac/eafw
RESTART_POLICY=unless-stopped
TIME_ZONE=Africa/Nairobi

# Database Configuration
PG_POSTGIS_VERSION=16-3.4
DB_USER=gis
DB_PASS=changeme
DB_NAME=eafw
DB_HOST_IP=127.0.0.1
DB_HOST_PORT=5434
DB_PORT=5432
DB_MAP_USER=gis

# MapServer Configuration
MS_HOST_IP=127.0.0.1
MS_HOST_PORT=8481
MS_MAPFILES_DIR=/opt/mapfiles
MS_SERVICE_URL=http://localhost:8481/mapserver/
MS_DEBUGLEVEL=2
MS_MAX_PROCESSES=10
WGS84_GRID_EXTENTS=21 -12 52 23

# MapCache Configuration
MC_HOST_IP=127.0.0.1
MC_HOST_PORT=8482
SOURCE_URL=http://eafw-mapserver/mapserver/?
SERVICE_URL=http://localhost:8482/mapcache/
WEB_GRID_EXTENTS=2337709 -1329087 5792092 2632018
MC_THREADS=10
MC_MAX_PROCESSES=10
MC_TILESET_EXPIRE_SEC=3600
MC_THREADED_FETCHING=true
MC_ERROR_REPORTING=empty_img
MC_LOG_LEVEL=debug
