# Environment
DEBUG=false

NODE_ENV=development

# Analytics
ANALYTICS_PROPERTY_ID=G-C0KJ0TNLSM

# Search
GOOGLE_CUSTOM_SEARCH_CX=
GOOGLE_SEARCH_API_KEY=

# Bitly
BITLY_TOKEN=

# APIs
CMS_API=http://127.0.0.1:8180/api

ASSET_PREFIX = ""

PORT=3000

AHW_DOCKER_NETWORK=